body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
  
.grid-container {
display: flex;
flex-wrap: wrap;
max-width: 100%;
}

.grid-cell {
box-sizing: border-box;
border: 1px solid black;
}

.start {
background-color: green;
}

.end {
background-color: red;
}

.white {
background-color: white;
}

.black {
background-color: black;
}

.green-border {
border-color: green;
}

.path {
background-color: red;
width: 15px;
height: 15px;
transition: background-color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
  
.grid-settings {
display: flex;
gap: 8px;
align-items: center;
}

.buttons {
display: flex;
gap: 8px;
}

button {
background-color: #007BFF;
color: white;
border: none;
border-radius: 4px;
padding: 8px 16px;
font-size: 14px;
cursor: pointer;
}

button:hover {
background-color: #0056B3;
}

button:active {
background-color: #004085;
}
