body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.controls {
    margin: 20px 0;
}

#grid {
    display: inline-block;
    border-collapse: collapse;
}

:root {
    --max-cell-size: 20px;
}

.cell {
    width: calc(min(var(--max-cell-size), 100vw / var(--grid-width) - 2px));
    height: calc(min(var(--max-cell-size), 100vw / var(--grid-width) - 2px));
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #ffffff;
    box-sizing: border-box;
}

.cell.selected {
    background-color: #333;
}

.color-btn {
    background-color: transparent;
    border: 1px solid #333;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
}

.color-btn.selected {
    background-color: #333;
    color: #fff;
}

.start-end-controls {
    margin-top: 20px;
}

.image-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cell.start {
    background-color: #2ecc71;
}

.cell.end {
    background-color: #e74c3c;
}

.cell.path {
    background-color: #3498db;
}